<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<%= message %>
	</div>
	<form>
		<input type="text" name="guess" />  <!--'guess' becomes the key name in the key/value pair -->
		<input type="submit" value="Guess!" />
	</form>
	<!--The SECRET NUMBER is <%= number %> -->
</body>
</html>